.icon-row {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 25px;
}

.icon-row__icon {
    display: flex;
    width:25%;
    height: 180px;
    padding:15px;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    transition: box-shadow 0.2s ease-in-out;
}

.icon-row__icon:hover {
    box-shadow: var(--main-box-shadow);
}

.icon-row__icon i {
    font-size: 35px;
}

.icon-row__image {
    width: 100%;
    height: 100%;
}

.icon-row__icon span {
    margin-top: 18px;
    text-align: center;
}

.more-screen .icon-row {
    background-color: aliceblue;
}

.more-screen .icon-row__icon {
    border-radius: 20px;
}

.more-screen .icon-row__image {
    border-radius: 15px;
}