:root {
    --yellow: #fae100;
    --horizontal-space: 25px;
    --main-border: 1px solid rgba(0, 0, 0, 0.2);
    --gray-8: rgba(0, 0, 0, 0.8);
    --gray-5: rgba(0, 0, 0, 0.5);
    --gray-4: rgba(0, 0, 0, 0.4);
    --gray-3: rgba(0, 0, 0, 0.3);
    --gray-2: rgba(0, 0, 0, 0.2);
    --main-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}